@model List<WebRezervace.Models.Rezervace>
@{
    ViewData["Title"] = "Rezervační Web RV";
}

<div>
    <div id="uvod">
        <h2>Vítejte na rezervačním webu Fitnes RV</h2>
        <p>Vítejte na oficiálním registračním webu posilovny RV. Rezervaci lze provést i bez registrace do našeho systému, ovšem pro častější zákazníky se jednoznačně vyplatí. Po zadání základních informací do profilu Vám bude systém tyto informace pokaždé, po přihlášení, doplňovat. Upřímně, komu se chce každý týden vyplňovat jméno, příjmení a další oficialitky? Ale k samotné rezervaci. Není na ní lautr nic složitého, stačí vyplnit krátký formulář, kliknout na odeslat a vyčkat na potvrzení. Samozřejmě zde se opět promítá výhoda zegistrace, jelikož na svém účtu můžete své rezervace snadno spravovat a rušit. Neregistrovaní své rezervace rušte formou emailu nebo tel. čísla, alespoň 2 dny předem. !!! Důležité !!! Rezervace pouze den předem! </p>
        <img src="/img/uvod.jpg" alt="Úvodní foto" />
    </div>
    @Html.Partial("~/Views/Shared/_CalendarSheet.cshtml")
</div>

