@model List<WebRezervace.Models.Rezervace>
@{
    ViewData["Title"] = "Rezervační Web RV";
}

<div>
    <div>
        <h2>Vítejte na rezervačním webu Fitnes RV</h2>
        <p>Popis</p>
    </div>
    @Html.Partial("~/Views/Shared/_CalendarSheet.cshtml")
</div>

